/* md <= 768px */
@media screen and (max-width: 768px) {
    .ms-title span:nth-child(5) {
        display: none;
    }
    .ms-title span:nth-child(6) {
        display: none;
    }
    .ms-title span:nth-child(7) {
        display: none;
    }
}

/* md => 768px */
@media screen and (min-width: 768px) {
    .mb-0 h6 {
        margin-right: 20rem;
    }

    .ms-wrap {
        display: flex;
        flex-direction: row;
    }
}

/* lg => 992px */
@media screen and (min-width: 992px) {
    .p-2 img {
        width: 100px;
    }

    .mb-0 h6 {
        margin-right: 35rem;
    }
}