/* reset */
img {
    max-width: 100%;
}
/* // reset */

/* utility */
:root {
    /* colors */
    --default:#ffffff;
    --side: #051E34;
    --jumbo: #1B72E8;
    --mc-bg: #F8F9FA;
    --bg-btn: #165BBA;
    --done: #198754;
    --process: #FFC107;
    --failed: #DC3545;
    --btn: #6C757D;
    --bell: #FF8F00;

    /* size */
    --as-size: 3.5rem;
    --as-md-size: 6rem;
    --hd-size: 3.5rem;
}
/* // utility */

/* common rules */
body {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: var(--hd-size);
    z-index: 1;
    background-color: var(--default);
}   
/* // common rules */

/* specific rules */
/* header */
header .input-group-text{
    background-color: #E5E5E5;
}

.ms-width {
    width: 100%;
}

.ms_header-search.form-control:focus{
    border-color: transparent;
    box-shadow: none;
}

.form-control{
    background-color: #E5E5E5;
}

.bi-bell-fill {
    color: var(--bell);
}

header a {
    color: var(--side);
}
/* // header */

/* side navbar */
aside {
    background-image: url(/img/sidebar-bg.png);
    background-color: var(--side);
    color: var(--default);
    width: var(--as-size);
}

aside nav {
    height: 100%;
}
/* // side navbar */

/* main */
.wrapper {
    width: 100%;
    height: 100%;
}

.ms-main-body {
    margin-top: 3.5rem;
}
.main-content {
    background-color: var(--mc-bg);
}

/* jumbotron */
.ms-jumbo {
    background-color: var(--jumbo);
    color: var(--default);
    height: 15rem;
}

/* // jumbotron */
.main {
    width: calc(100% - var(--as-size));
    height: 100%;
}

.ms-bg {
    background-color: var(--bg-btn);
    padding: 0.2rem 0.5rem;
    border-radius: 25px 25px;
}

.ms-title *:not(:last-child) {
    margin-right: 0.5rem;
}

.p-2 img {
    width: 40px;
}

/* first card */
tbody th::before {
    content: "";
    background-image: url(/img/class-avatar.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    display: block;
    margin-right: 10px;
    align-self: center;
}

#ms-border {
    border-top: 0;
    vertical-align: middle;
    justify-content: center;
}

.ms_done {
    background-color: var(--done);
}

.ms_process {
    background-color: var(--process);
}

.ms_failed {
    background-color: var(--failed);
}

.badge {
    color: var(--default);
}

#btn {
    color: var(--btn);
    border: 2px solid;
}

tr td:nth-child(2) {
    font-weight: bold;
}

tr td:nth-child(3) {
    font-weight: bold;
}
/* // first card */

/* second card */
.mb-0 h6 {
    color: var(--side);
    text-align: left;
    margin-right: 5rem;
}
/* // second card */

/* fourth card */
.ms-fw-bold {
    font-weight: bold;
}
/* // fourth card */
/* // specific rules */

                 